body {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-flow: row;
	font-weight: bold;
	height: 100%;
}

.outwrapper1 {
	height: 100%;
	width: 20%;
	background: #CDDC39;
}

.outwrapper2 {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
}

.outwrapper2a {
	width: 100%;
	height: 20%;
	background: lime;
}

.outwrapper2b {
	display: flex;
	height: 80%;
}

.outwrapper2ba {
	display: flex;
	flex-flow: column;
	width: 80%;
	height: 100%;
}

.outwrapper2ba>article {
	display: flex;
	height: 80%;
	background: wheat;
}

.outwrapper2ba>footer {
	height: 20%;
	background: lime;
}

.outwrapper2bb {
	width: 20%;
	height: 100%;
	background: cyan;
}